ul.dropdown-menu {
    list-style: none;
    margin: 0;
    /* padding: 0; */
    padding: 35px;
    padding-top: 55px;
}

ul.dropdown-menu>li {
    float: left;
    margin: 5px;
    position: relative;
}

ul.dropdown-menu>li>ul {
    display: none;
    position: absolute;
}

ul.dropdown-menu>li:hover>ul {
    display: block;
}