html,
body {
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
    width: 100%;
    font-size: 20px;
    font-family: Georgia, "Times New Roman", Times, serif;
    /* background: #fff; */
}

.container {
    height: 100%;
    display: grid;
    grid-template-columns: 10% 90%;
}

.content {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-rows: 7% 93%;
}

.navbar {
    display: grid;
    grid-template-rows: 7% 93%;
    /* float: left; */
    /* height: 100%; */
    /* flex-direction: column; */
    background-color: #000000;
}

.header {
    display: flex;
    /* width: cal(100% - 178px); */
    background-color: #fff;
    align-items: center;
}

.f-content {
    width: 100%;
    background-color: rgb(185, 185, 185);
}

.logo {
    background: rgb(221, 19, 19);
}

.navbar-item {
    height: 42px;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    padding-left: 8px;
    padding-right: 14px;
    border-left: 6px solid transparent;
    color: #fff;
    position: relative;
    cursor: pointer;
}


/* .navbar-item.active {
    border-left-color: #2ca01c;
    font-weight: 700;
    position: relative;
} */

.navbar-item:hover::before,
.navbar-item.active::before {
    content: "";
    background: #ebedf0;
    opacity: 0.2;
    width: calc(100% + 6px);
    height: 42px;
    left: -6px;
    top: 0;
    position: absolute;
}

.navbar div :hover {
    background: rgb(95, 92, 92);
}

.navbar-icon {
    padding-left: 10px;
    padding-right: 10px;
    cursor: pointer;
}

.company-name p {
    text-transform: uppercase;
}

.name-admin {
    display: flex;
    flex-direction: row;
    margin-left: 1450px;
}

h1 {
    text-align: center;
}

.f-content {
    /* background-color: #fff; */
}

.table {
    background-color: #fff;
    margin: 20px;
}

.m-btn {
    background-color: orangered;
    border-radius: 4px;
    height: 40px;
    font-size: 13px;
    color: #ffffff;
    font-weight: normal;
    padding-left: 24px;
    padding-right: 24px;
    text-align: center;
    outline: unset;
    border: none;
    cursor: pointer;
    min-width: 100px;
    float: right;
    margin: 20px 40px;
}

.m-btn:hover,
.m-btn:focus {
    background-color: #fd6239;
}

.m-btn:active {
    background-color: #af3615;
}

th,
td {
    border: 1px solid grey;
    padding: 50px;
    text-align: center;
}

tbody tr:nth-child(even) {
    background-color: #ddd;
}

thead tr {
    background-color: #aaa;
}

table {
    border-collapse: collapse;
}

.popup_insert {
    /* display: none; */
    width: 500px;
    height: 300px;
    background: #fff;
    border: 1px solid red;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.popup_header {
    /* background-color: aqua; */
    width: 100%;
    height: 10%;
    /* padding-bottom: 30px; */
    /* margin: 10px; */
    display: flex;
    /* display: inline-block; */
}

.form_insert {
    /* background-color: blue; */
    width: 100%;
    height: 70%;
}

.form_footer {
    display: flex;
    /* background-color: chartreuse; */
    width: 100%;
    height: 20%;
}

.form_footer button {
    height: 45px;
    margin: auto;
}

.popup-header-close {
    /* background-color: chocolate; */
    padding-left: 280px;
    cursor: pointer;
}

.popup-header-t1 {
    background-color: chartreuse;
    /* background: #000;
    color: #af3615; */
    text-transform: uppercase;
    /* padding-left: 15px; */
}